button {
	padding: 5px;
	margin: 5px;
	border: none;
	background-color: red;
	color: white;
	text-shadow: none;
	background-image: none;
	cursor: pointer;
}
button#add-btn {
	background-color: green;
}
