body {
	width: 300px;
	padding: 0;
	margin: 10px 0;
	color: #333;
}

p#empty {
	padding-top: 20px;
	/*display: none;*/
	text-align: center;
}
div#content {
	width: 100%;
	padding: 0;
	margin: 0 auto 0;
	float: right;
}

div.host {
	padding: 5px 10px;
	margin-bottom: 10px;
	opacity: 0.8;
}

div.host:hover {
	color: #000;
	background-color: #eee;
	opacity: 1.0;
	cursor: pointer;
}
div.host:hover .status {
	background-color: blue;
}
div.offline {
	/*color: #aaa;*/
}

h2 {
	/*text-align: center;*/
	margin-bottom: 2px;
}

h2 span {
	display: inline-block;
	font-size: 10px;
	margin-left: 10px;
}

ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	width: 100%;
}

span {
	display: inline-block;
	padding: 2px 5px;
}

span.name {
	width: 20%;
	/*text-align: right*/
}

span.value {
	/*width: 75%;*/
}

div.head-div {
	/*width: 150px;*/
	overflow: hidden;
	margin-bottom: 3px;
}

.avartar {
	width: 70px;
	height: 70px;
	display: block;
	float: left;
}

div.head-div span {
	display: block;
	float: left;
}

span.host-name {
	width: 180px;
	margin: 2px 2px 0;
}
span.room-name {
	width: 180px;
	margin: 0 2px;
}
span.status {
	margin: 2px 8px;
	color: white;
}
span.online {
	background-color: red;
}
span.offline {
	background-color: green;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

button {
	display: block;
	padding: 5px 15px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

