body {
	width: 300px;
	padding: 0;
	margin: 10px 0;
	color: #333;
}

div#content {
	width: 100%;
	padding: 0;
	margin: 0 auto 0;
	float: right;
}

div.host {
	padding: 0 10px;
}

div.host:hover {
	background-color: #eee;
	cursor: pointer;
}
div.host:hover a {
	background-color: blue;
}

h2 {
	/*text-align: center;*/
}

ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	width: 100%;
}

span {
	display: inline-block;
	padding: 2px 5px;
}

a {
	display: inline-block;
	padding: 2px 5px;
	text-decoration: none;
}

a:hover {
	/*border-bottom: 3px solid blue;*/
	background-color: blue;
}

span.name {
	width: 20%;
	/*text-align: right*/
}

span.value {
	/*width: 75%;*/
}

.online {
	/*margin: 5px;*/
	background-color: red;
	color: white;
}
.offline {
	background-color: green;
	color: white;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

button {
	display: block;
	padding: 5px 15px;
	float: right;
	margin-right: 10px;
	/*margin-bottom: -10px;*/
}
